@import '../../styles//mixins';
@import '../../styles//variables';

.CountrySearch {
    position: absolute;
    z-index: 1;
    left: calc(50vw - 150px);
    top: 10px;
    width: 300px;
    background-color: $grey-black;
    padding: 10px 10px 20px 20px;

    .Search {
        width: 100%;

        :global(.ant-select-selector) {
            &::before {
                @include dot-bg();
                content: '';
                width: 102%;
                height: 85%;
                position: absolute;
                left: -14px;
                top: 19px;
                z-index: -1;
            }

            :global(.ant-select-selection-placeholder) {
                color: $grey;
                font-size: 14px;
            }
        }
    }
}
