.CountryCovid {
    margin-top: 20px;

    .MainStat {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        padding: 8px;
        margin-bottom: 10px;

        :global(.ant-statistic-content-suffix) {
            width: 100%;
        }
    }
}
