@import '../../styles/variables';

.Board {
    z-index: 1;
    position: absolute;
    width: $board-width;
    height: calc(100vh);
    overflow: auto;
    background-color: #202124;
    padding: 20px;

    .Hide {
        display: none;
    }
}
