@import './variables';

@mixin dot-bg {
    background: linear-gradient(90deg, #161122 5px, transparent 0%) center,
        linear-gradient(#161122 5px, transparent 1%) center, #a799cc;
    background-size: 6px 6px;
}

// $dot-size: 1px;
// $dot-space: 22px;
// $bg-color: hsl(256,33,10);
// $dot-color: hsl(256,33,70);
@mixin dot-bg(
    $bg-color: #202124,
    $dot-color: #ccc,
    $dot-size: 1px,
    $dot-space: 6px
) {
    background: linear-gradient(
                90deg,
                $bg-color ($dot-space - $dot-size),
                transparent 0%
            )
            center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
            center,
        $dot-color;
    background-size: $dot-space $dot-space;
}

@mixin border($width: 1px, $pattern: solid, $color: $yellow) {
    border: $width $pattern $color !important;
}

@mixin ant-stat {
    :global(.ant-statistic-title) {
        color: #fff;
        font-size: 10px;
        margin-bottom: 0px;
    }
    :global(.ant-statistic-content) {
        color: #fff;
        font-size: 14px;
    }
}
