.Controls {
    position: absolute;
    right: 10px;
    bottom: 50px;
    z-index: 1;
    background-color: #03101c;
    display: flex;
    flex-direction: column;

    .Icon {
        font-size: 1.75rem;
        color: #f5c600;
        cursor: pointer;
    }
}
